<div class="card-list-container py-5">
<div class="card w-50 mx-auto mt-4 shadow-lg">
<div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title"><div>
   <span><b>ジャンル</b></span>
   <p><%= @post.genre.name %></p>
  <span><b>タイトル</b></span>
  <p><%= @post.title %></p>

  <span><b>内容</b></span>
  <p><%= @post.body %></p>
  <span>ユーザーネーム：<%= link_to @post.user.name, user_path(@post.user.id) %></span>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
  <p><i class="fa-solid fa-flag"></i><%= @post.address %></p>
  <% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <% end %>
  <% if @post.user == current_user %>
  <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <% end %>
</div>
<div>
    <% if @post.liked_by?(current_user) %>
    </span><p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> 相席する
      <% end %>
    </p></span>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> 相席する
      <% end %>
    </p>
  <% end %>

</div>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
    </div>
      </div>
    </div>
  </div>
  <% end %>
</div>