<div class="container">
<h2>検索結果</h2>
  <div id="map" latitude="<%= @latitude %>" longitude="<%= @longitude %>" style="height: 500px"></div>
    <div class="flex flex-wrap justify-between w-11/12 mx-auto">
      <% if @posts.any? %>
        <br>
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>ジャンル</th>
                  <th>タイトル</th>
                  <th>場所</th>
                  <th>ユーザーネーム</th>
                  <th>投稿日時</th>
                  <th colspan="2"></th>
                 </tr>
              </thead>
      <% @posts.each do |post| %>
          <tbody>
                  <tr>
                    <td><%= post.genre.name %></td>
                    <td><%= link_to post.title, "/posts/#{post.id}" %></td>
                    <td><%= post.address %></td>
                    <td><%= post.user.name %></td>
                    <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span></td>
                    <td><%= post.likes.count %>相席</td>
                    <td><%= post.comments.count %>コメント
              </td>
                  </tr>
                </tbody>
            </table>
      <% end %>
      <% else %>
        <p class="text-2xl sm:text-3xl mx-auto my-10">検索結果は見つかりませんでした。</p>
      <% end %>
  </div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>