

<h2>投稿一覧</h2>
<div class="container">
  <div id="map" latitude="35.681236" longitude="139.767125" style="height: 500px"></div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
<table class="table table-striped">

  <thead>
    <tr>
  <th>ジャンル</th>
  <th>タイトル</th>
  <th>場所</th>
  <th>ユーザーネーム</th>
  <th>投稿日時</th>
  <th colspan="2"></th>
  </tr></thead>
<% @posts.each do |post| %>
  <tbody>
      <tr>
      <td><%= post.genre.name %></td>
      <td><%= link_to post.title, admin_post_path(post.id) %></td>
      <td><%= post.address %></td>
  <td><%= link_to post.user.name, admin_user_path(post.user.id) %></td>
  <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
    <td><%= post.likes.count %>相席</td>
    <td><%= post.comments.count %>コメント</td>
<% end %>
</tr>
</tbody>
</table>