<div class="card-list-container py-5">
<div class="card w-50 mx-auto mt-4 shadow-lg">
<div class="card-body">
      <div class="row">
      <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title">
<h1>投稿一覧</h1>

<% @posts.each do |post| %>

  <span>タイトル</span>
  <p><span>
    <%= link_to post.title, "/posts/#{post.id}" %>
  </span>
  </p>
  <span>内容</span>
  <p><span><%= post.body %></span><p>
  <span>ユーザーネーム：<%= post.user.name %></span>
  <p><span>投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %></span></p>
    <p><%= link_to "#{post.likes.count} 相席", post_path(post.id) %></p>
    <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
  </div>
      </div>
    </div>
  </div>
<% end %>